* {
    border: none;
    border-radius: 0px;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 13px;
    min-height: 10px;
}

@import "themes/transparent.css";

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #ebbcba;
}

#cpu,
#memory,
#battery,
#temperature,
#clock,
#custom-weather.severe,
#custom-weather.sunnyDay,
#custom-weather.clearNight,
#custom-weather.cloudyFoggyDay, 
#custom-weather.cloudyFoggyNight,
#custom-weather.rainyDay, 
#custom-weather.rainyNight,
#custom-weather.showyIcyDay, 
#custom-weather.snowyIcyNight,
#workspaces,
#window,
#taskbar,
#bluetooth,
#pulseaudio,
#custom-updates,
#custom-power,
#custom-l_end,
#custom-r_end,
#custom-sl_end,
#custom-sr_end,
#custom-rl_end,
#custom-rr_end,
#tray {
    color: @main-color;
    background: #191724;
    opacity: 1;
    margin: 4px 0px 4px 0px;
    padding-left: 4px;
    padding-right: 4px;
    border: 0px solid #181825;
}

tooltip {
    background: @tool-bg;
    color: @tool-color;
    border-radius: 22px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

#workspaces button {
    box-shadow: none;
	text-shadow: none;
    padding: 0px;
    border-radius: 9px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    color: @wb-color;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.active {
    background: @wb-act-bg;
    color: @wb-act-color;
    margin-left: 3px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 3px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button:hover {
    background: @wb-hvr-bg;
    color: @wb-hvr-color;
    padding-left: 3px;
    padding-right: 3px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button {
    box-shadow: none;
	text-shadow: none;
    padding: 0px;
    border-radius: 9px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    color: @wb-color;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button.active {
    background: @wb-act-bg;
    color: @wb-act-color;
    margin-left: 3px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 3px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button:hover {
    background: @wb-hvr-bg;
    color: @wb-hvr-color;
    padding-left: 3px;
    padding-right: 3px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces,
#taskbar {
    padding: 0px;
}

#clock {
    color: #f6c177;
}

#custom-weather.severe {
    color: #eb937d;
}

#custom-weather.sunnyDay {
    color: #dc2430;
}

#custom-weather.clearNight {
    color: #516395;
}

#custom-weather.cloudyFoggyDay, #custom-weather.cloudyFoggyNight {
    color: #06beb6;
}

#custom-weather.rainyDay, #custom-weather.rainyNight {
    color: #02aab0;
}

#custom-weather.showyIcyDay, #custom-weather.snowyIcyNight {
    color: #eb3349;
}

#custom-weather.default {
    color: #dbd9d8;
}

#workspaces {
    background: #191724;
}

#workspaces button {
}

#workspaces button.active {
    color: #ebbcba;
}

#workspaces button.focused {
    color: #ffffff;
    background: #191724;
}

#workspaces button.urgent {
    color: #ffffff;
    background: #191724;
}

#workspaces button:hover {
    background: #191724;
    color: #ebbcba;
}

#cpu {
    color: #ff671f;
}

#memory {
    color: #ffffff;
}

#temperature {
    color: #97f993;
}

#temperature.critical {
    color: #ff0000;
}

#pulseaudio {
    color: #eb2089;
}

#battery {
    color: #6bb0d9;
}

#custom-power {
   color: #f5a500;
}

#custom-r_end {
    border-radius: 0px 22px 22px 0px;
    margin-right: 9px;
    padding-right: 3px;
}

#custom-l_end {
    border-radius: 22px 0px 0px 22px;
    margin-left: 9px;
    padding-left: 3px;
}

#custom-sr_end {
    border-radius: 0px;
    margin-right: 9px;
    padding-right: 3px;
}

#custom-sl_end {
    border-radius: 0px;
    margin-left: 9px;
    padding-left: 3px;
}

#custom-rr_end {
    border-radius: 0px 8px 8px 0px;
    margin-right: 9px;
    padding-right: 3px;
}

#custom-rl_end {
    border-radius: 8px 0px 0px 8px;
    margin-left: 9px;
    padding-left: 3px;
}
